/* feedback reports, interview requests, job recommendations*/
.logo-size{
	width: 160px;
	height: 35px;
	float: left;
}

.no-squish{
	padding: 0px;
}

.log-in-style{
	background-color: #00315D;
	color: white;
	font-weight: bold;
}

.tabbar-format{
	padding-left: 1em;
	padding-top: 1em;
	border-width: 1px;
	border-color: #328CC1;
	color: #00315D;
}

body{
	background-color: #1D2731;
}

#edit-button{
	background-color: #328CC1;
	border-color: #328CC1;
}

.request-chart{
	color: black;
}

tr{
	background-color: #EAE3EA;
}

.nav-style{
	background-color: #EAE3EA;
	color: black;

}



header{
	width: 100%;
}

.header-style{
	color: #EAE3EA;
	margin-top: 3em;
}

.interview-content{
	width: 100%;
}

.report{
	color: white;
}

.hidden{
	display: none;
}



@media only screen and (max-width : 480px) {
		.interview-content{
			width: 100%;
			font-size: 0.9em;
		}

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.employer-intro{
    		width: 100%;
    	}

    	/*.nav-style{
    		display: flex;
    	}

    	.nav-style li{
			display: flex;
			flex: 1;
		}

		.nav-style li a{
			flex: 1;
		}*/


    }
