.logo-size{
	width: 160px;
	height: 35px;
	float: left;
}

.no-squish{
	padding: 0px;
}

.log-in-style{
	background-color: #00315D;
	color: white;
	font-weight: bold;
}

.tabbar-format{
	padding-left: 1em;
	padding-top: 1em;
	border-width: 1px;
	border-color: #328CC1;
	color: #00315D;
}

body{
	background-color: #1D2731;
}

.welcome{
	padding: 2em;
}

.profile-box{
	background-color: #B0C4DE;
	padding: 0px;
	border-radius: 6px;
	width: 45%;
	margin-top: 10px;
	
}

.profile-header{
	font-weight: bold;
	background-color: #00315D;
	margin-top: 0px;
	padding: 2%;
	width: 100%;
	color: #EAE3EA;
	border-radius: 6px 6px 0px 0px;


}

#profile-content{
	padding: 2%;

}

.welcome-msg{
	font-weight: bold;
	color: #EAE3EA;


}

#edit-button{
	background-color: #328CC1;
	border-color: #328CC1;
}

.request-chart{
	color: black;
}



.nav-style{
	background-color: #EAE3EA;
	color: black;

}

.result-box{
	
	padding: 0px;
	
	width: 45%;
	margin-top: 10px;
	margin-left: 5%;
	
	
}

table{
	margin: auto;
}

td{
	padding: 5%;
	font-weight: bold;
}

.download-option{
	text-align: center;
	margin: 1%;
}

.download-report{
	background-color: #328CC1;
	border-color: #328CC1;
	
}

.header-adjust{
	margin-top: 5%;
}


@media only screen and (max-width : 768px) {
    	.result-box{
    		width: 100%;
    		margin-left: 0px;
    	}

    	.profile-box{
    		width: 100%;
    	}

    	/*.nav-style{
    		display: flex;
    	}

    	.nav-style li{
			display: flex;
			flex: 1;
		}

		.nav-style li a{
			flex: 1;
		}*/
    }