.logo-size{
	width: 160px;
	height: 35px;
	float: left;
}

.log-in-style{
	background-color: #00315D;
	color: white;
	font-weight: bold;
}

.tabbar-format{
	padding-left: 1em;
	padding-top: 1em;
	border-width: 1px;
	border-color: #328CC1;
	color: #00315D;
}

body{
	background-color: #1D2731;
}

.welcome{
	padding: 2em;
}

.profile-box{
	background-color: #B0C4DE;
	padding: 0px;
	border-radius: 25px;
	margin-top: 10px;
}

.profile-header{
	font-weight: bold;
	background-color: #00315D;
	margin-top: 0px;
	padding: 2%;
	width: 100%;
	color: #EAE3EA;
	border-radius: 25px 25px 0px 0px;


}

#profile-content{
	padding: 2%;

}

.welcome-msg{
	font-weight: bold;
	color: #EAE3EA;;

}