.match-buttons{
	margin: auto;
	text-align: center;
	margin-bottom: 2%;
}

.hidden{
	display: none;
}

tr{
	background-color: #EFEFEF;
}

.interview-table{
	width: 75%;
	margin: auto;
	border-radius: 15px;
	margin-bottom: 2%;
	border-radius: 10px;
}

.interview-wrapper{
	text-align: center;

}

.interview-table-header{
	text-align: center;
}



@media only screen and (max-width : 768px) {
    	.interview-table{
    		width: 100%;
    	}

    	/*.nav-style{
    		display: flex;
    	}

    	.nav-style li{
			display: flex;
			flex: 1;
		}

		.nav-style li a{
			flex: 1;
		}*/
    }




