
.bodyparagraph {
	font-size: 16px;
	background-color: #7FDBFF;
	font-family: 'Nunito';
	padding: 2em;
}

.title{
	padding-top: 20px;
	font-size: 80px;
	margin-bottom: 0px;
}



.logo-size{
	width: 160px;
	height: 35px;
	float: left;
}



html { 
  background: url(biztop.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-squish{
	padding: 0px;
}

.reference-elem{

	position: relative;
}

#slogan{
	z-index: 80;
	position: absolute;
	color: white;
	font-size: 4em;
	font-weight: bold;
	
  
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  	text-align: center;
  	display: block;
  	padding-bottom: 10%;
  	column-span: all;
 
}

.Employers-info{
	z-index: 100;
	position: absolute;
	top: 15em;
	color: white;
	margin: auto;
	display: block;
	padding-top: 15%;
	text-align: center;
	
	
}

.student-intro{
	float: right;
}

.employer-intro{
	z-index: 1000;
	width: 50%;
	padding: 5em;
	top: 12em;
}

.sign-up{
	background-color: #00BFFF;

}

.menu-button-manip{
	z-index: 50000;
}

h3{
	font-weight: bold;
}


@media only screen and (max-width : 480px) {
		.employer-intro{
			width: 100%;
			font-size: 1.25em;
			padding: 2em;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.employer-intro{
    		width: 100%;
    	}
    }