/*Personalized styling with Internest*/

.no-display {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#assessment-box{
    margin: 5%;
    color: white;

}

.assessment-btn{
    background-color: #328CC1;
    border-color: #328CC1;
    
}

.assessment-list{
	display: block;
}


.btn-group{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	margin: 5%;
}

.proceed-plum-btn{
	margin: auto;
}

.finish-assessment-btns{
	text-align: center;
	margin: 5%;
}