/*Personalized styling with Internest*/

.no-display {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#assessment-box{
    margin: 5%;
    color: white;

}

.assessment-btn{
    background-color: #328CC1;
    border-color: #328CC1;
    
}

.assessment-list{
	display: block;
}


.btn-group{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	margin: 5%;
}

.proceed-plum-btn{
	margin: auto;
}

.finish-assessment-btns{
	text-align: center;
	margin: 5%;
}

#hidden{
	display: none;
}

.assessment-table{
	color: black;
	width: 50%;
	margin: auto;
	margin-top: 5%;
	border-radius: 6px;
}

.assessment-table td, th{
	text-align: center;
}

@media only screen and (max-width : 768px) {
    	.assessment-table{
    		width: 100%;
    	}
    }
